<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MeetPass - Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42238792-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-42238792-3');
  </script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-9662808595688841",
      enable_page_level_ads: true
    });
  </script>
</head>

<body>
  <div class="highlight-clean">
    <div class="container">
      <div class="intro">
        <img src="img/branding/logo.png" align="middle">
        <h2 class="text-center">MeetPass</h2>
        <p class="text-center">MeetPass is the easiest way to share contact info, social media accounts, and more with one scan. Get it free!</p>
      </div>
      <div class="buttons">
        <a href="https://itunes.apple.com/us/app/meetpass/id1448119730?ls=1&mt=8" class="btn btn-primary"><i class="fa fa-apple"></i> Get the App</a>
        <!--<a href="#features" class="btn btn-light" role="button">Learn More</a>-->
      </div>
    </div>
  </div>
  <div class="photobanner-container">
    <div class="photobanner">
      <img class="first" src="img/cards/blue.png">
      <img src="img/cards/cyan.png">
      <img src="img/cards/green.png">
      <img src="img/cards/yellow.png">
      <img src="img/cards/orange.png">
      <img src="img/cards/purple.png">
      <img src="img/cards/red.png">
      <img src="img/cards/grey.png">
      <img src="img/cards/green.png">
      <img src="img/cards/yellow.png">
      <img src="img/cards/cyan.png">
      <img src="img/cards/green.png">
      <img src="img/cards/yellow.png">
      <img src="img/cards/orange.png">
      <img src="img/cards/purple.png">
      <img src="img/cards/red.png">
      <img src="img/cards/grey.png">
      <img src="img/cards/green.png">
      <img src="img/cards/yellow.png">
    </div>
  </div>
  <a name="features">
    <div class="features-clean">
      <div class="container">
        <div class="intro">
          <p class="text-center"></p>
        </div>
        <div class="row features">
          <div class="col-sm-6 col-lg-4 item"><img class="feature_logo" src="img/svg/social.svg">
            <h3 class="name">All Your Accounts</h3>
            <p class="description">Facebook, Instagram, Snapchat, throw whatever you want on your MeetPass. Upload resumes/cover letters too.</p>
          </div>
          <div class="col-sm-6 col-lg-4 item"><img class="feature_logo" src="img/svg/cards.svg">
            <h3 class="name">Create Multiple Cards</h3>
            <p class="description">Make a card for anything! Have different cards for social, professional, and work encounters.</p>
          </div>
          <div class="col-sm-6 col-lg-4 item"><img class="feature_logo" src="img/svg/hang_out.svg">
            <h3 class="name">Share Easily, IRL</h3>
            <p class="description">Allow anyone to get your accounts through one scan. Only what you want them to see, of course.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="row">
        <div class="copyright">
          <span class="align-middle">
            <p class="navbar-text pull-left"><a href="http://bearfoundry.com">&copy; 2019 BearFoundry</a></p>
          </span>
        </div>
        <div class="ml-auto">
          <span class="align-middle">
            <a href="/terms">Terms</a>
            <p>·</p>
            <a href="/privacy">Privacy</a>
            <p>·</p>
            <a href="mailto:bearfoundry@gmail.com">Contact</a>
          </span>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>
