<html>

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <style type="text/css">
    @import url('https://themes.googleusercontent.com/fonts/css?kit=-lTUqgJg2dxbe4D7B5DEIA3jn2WilaVUapNOYl4762s');

    ul.lst-kix_2vx5yei27pef-3 {
      list-style-type: none
    }

    ul.lst-kix_2vx5yei27pef-4 {
      list-style-type: none
    }

    .lst-kix_9bn7p699mxqg-8>li:before {
      content: "\0025a0  "
    }

    ul.lst-kix_2vx5yei27pef-1 {
      list-style-type: none
    }

    ul.lst-kix_2vx5yei27pef-2 {
      list-style-type: none
    }

    ul.lst-kix_2vx5yei27pef-7 {
      list-style-type: none
    }

    .lst-kix_oh1uxlpca8or-7>li:before {
      content: "\0025cb  "
    }

    .lst-kix_oh1uxlpca8or-8>li:before {
      content: "\0025a0  "
    }

    ul.lst-kix_2vx5yei27pef-8 {
      list-style-type: none
    }

    .lst-kix_9bn7p699mxqg-6>li:before {
      content: "\0025cf  "
    }

    ul.lst-kix_2vx5yei27pef-5 {
      list-style-type: none
    }

    ul.lst-kix_2vx5yei27pef-6 {
      list-style-type: none
    }

    .lst-kix_9bn7p699mxqg-5>li:before {
      content: "\0025a0  "
    }

    .lst-kix_9bn7p699mxqg-3>li:before {
      content: "\0025cf  "
    }

    .lst-kix_9bn7p699mxqg-4>li:before {
      content: "\0025cb  "
    }

    .lst-kix_oh1uxlpca8or-2>li:before {
      content: "\0025a0  "
    }

    .lst-kix_oh1uxlpca8or-3>li:before {
      content: "\0025cf  "
    }

    .lst-kix_oh1uxlpca8or-4>li:before {
      content: "\0025cb  "
    }

    .lst-kix_oh1uxlpca8or-5>li:before {
      content: "\0025a0  "
    }

    .lst-kix_oh1uxlpca8or-6>li:before {
      content: "\0025cf  "
    }

    ul.lst-kix_2vx5yei27pef-0 {
      list-style-type: none
    }

    .lst-kix_9bn7p699mxqg-7>li:before {
      content: "\0025cb  "
    }

    ul.lst-kix_hmnm2065zf6e-3 {
      list-style-type: none
    }

    ul.lst-kix_hmnm2065zf6e-4 {
      list-style-type: none
    }

    ul.lst-kix_hmnm2065zf6e-1 {
      list-style-type: none
    }

    ul.lst-kix_hmnm2065zf6e-2 {
      list-style-type: none
    }

    ul.lst-kix_hmnm2065zf6e-0 {
      list-style-type: none
    }

    .lst-kix_9bn7p699mxqg-1>li:before {
      content: "\0025cb  "
    }

    .lst-kix_oh1uxlpca8or-1>li:before {
      content: "\0025cb  "
    }

    .lst-kix_oh1uxlpca8or-0>li:before {
      content: "\0025cf  "
    }

    .lst-kix_9bn7p699mxqg-2>li:before {
      content: "\0025a0  "
    }

    .lst-kix_9bn7p699mxqg-0>li:before {
      content: "\0025cf  "
    }

    .lst-kix_ovn7ft8oxhsd-8>li:before {
      content: "\0025a0  "
    }

    .lst-kix_2vx5yei27pef-8>li:before {
      content: "\0025a0  "
    }

    .lst-kix_ovn7ft8oxhsd-6>li:before {
      content: "\0025cf  "
    }

    .lst-kix_ovn7ft8oxhsd-7>li:before {
      content: "\0025cb  "
    }

    .lst-kix_ovn7ft8oxhsd-0>li:before {
      content: "\0025cf  "
    }

    ul.lst-kix_t77orw8662j9-7 {
      list-style-type: none
    }

    ul.lst-kix_t77orw8662j9-6 {
      list-style-type: none
    }

    ul.lst-kix_t77orw8662j9-5 {
      list-style-type: none
    }

    .lst-kix_2vx5yei27pef-0>li:before {
      content: "\0025cf  "
    }

    ul.lst-kix_t77orw8662j9-4 {
      list-style-type: none
    }

    ul.lst-kix_t77orw8662j9-3 {
      list-style-type: none
    }

    .lst-kix_2vx5yei27pef-1>li:before {
      content: "\0025cb  "
    }

    ul.lst-kix_t77orw8662j9-2 {
      list-style-type: none
    }

    ul.lst-kix_t77orw8662j9-1 {
      list-style-type: none
    }

    ul.lst-kix_t77orw8662j9-0 {
      list-style-type: none
    }

    .lst-kix_ovn7ft8oxhsd-4>li:before {
      content: "\0025cb  "
    }

    .lst-kix_2vx5yei27pef-3>li:before {
      content: "\0025cf  "
    }

    .lst-kix_2vx5yei27pef-2>li:before {
      content: "\0025a0  "
    }

    .lst-kix_2vx5yei27pef-4>li:before {
      content: "\0025cb  "
    }

    .lst-kix_ovn7ft8oxhsd-1>li:before {
      content: "\0025cb  "
    }

    .lst-kix_ovn7ft8oxhsd-5>li:before {
      content: "\0025a0  "
    }

    ul.lst-kix_t77orw8662j9-8 {
      list-style-type: none
    }

    .lst-kix_2vx5yei27pef-7>li:before {
      content: "\0025cb  "
    }

    .lst-kix_2vx5yei27pef-6>li:before {
      content: "\0025cf  "
    }

    .lst-kix_ovn7ft8oxhsd-2>li:before {
      content: "\0025a0  "
    }

    .lst-kix_2vx5yei27pef-5>li:before {
      content: "\0025a0  "
    }

    .lst-kix_ovn7ft8oxhsd-3>li:before {
      content: "\0025cf  "
    }

    .lst-kix_t77orw8662j9-7>li:before {
      content: "\0025cb  "
    }

    .lst-kix_t77orw8662j9-8>li:before {
      content: "\0025a0  "
    }

    .lst-kix_hmnm2065zf6e-5>li:before {
      content: "\0025a0  "
    }

    .lst-kix_hmnm2065zf6e-6>li:before {
      content: "\0025cf  "
    }

    .lst-kix_hmnm2065zf6e-3>li:before {
      content: "\0025cf  "
    }

    .lst-kix_hmnm2065zf6e-7>li:before {
      content: "\0025cb  "
    }

    .lst-kix_hmnm2065zf6e-1>li:before {
      content: "\0025cb  "
    }

    .lst-kix_hmnm2065zf6e-2>li:before {
      content: "\0025a0  "
    }

    .lst-kix_t77orw8662j9-6>li:before {
      content: "\0025cf  "
    }

    .lst-kix_hmnm2065zf6e-0>li:before {
      content: "\0025cf  "
    }

    .lst-kix_hmnm2065zf6e-8>li:before {
      content: "\0025a0  "
    }

    .lst-kix_t77orw8662j9-5>li:before {
      content: "\0025a0  "
    }

    .lst-kix_t77orw8662j9-4>li:before {
      content: "\0025cb  "
    }

    .lst-kix_t77orw8662j9-3>li:before {
      content: "\0025cf  "
    }

    .lst-kix_t77orw8662j9-0>li:before {
      content: "\0025cf  "
    }

    .lst-kix_t77orw8662j9-2>li:before {
      content: "\0025a0  "
    }

    .lst-kix_hmnm2065zf6e-4>li:before {
      content: "\0025cb  "
    }

    .lst-kix_t77orw8662j9-1>li:before {
      content: "\0025cb  "
    }

    ul.lst-kix_ovn7ft8oxhsd-1 {
      list-style-type: none
    }

    ul.lst-kix_ovn7ft8oxhsd-2 {
      list-style-type: none
    }

    ul.lst-kix_ovn7ft8oxhsd-0 {
      list-style-type: none
    }

    ul.lst-kix_ovn7ft8oxhsd-7 {
      list-style-type: none
    }

    ul.lst-kix_ovn7ft8oxhsd-8 {
      list-style-type: none
    }

    ul.lst-kix_ovn7ft8oxhsd-5 {
      list-style-type: none
    }

    ul.lst-kix_oh1uxlpca8or-2 {
      list-style-type: none
    }

    ul.lst-kix_ovn7ft8oxhsd-6 {
      list-style-type: none
    }

    ul.lst-kix_oh1uxlpca8or-1 {
      list-style-type: none
    }

    ul.lst-kix_ovn7ft8oxhsd-3 {
      list-style-type: none
    }

    ul.lst-kix_oh1uxlpca8or-0 {
      list-style-type: none
    }

    ul.lst-kix_ovn7ft8oxhsd-4 {
      list-style-type: none
    }

    ul.lst-kix_9bn7p699mxqg-1 {
      list-style-type: none
    }

    ul.lst-kix_9bn7p699mxqg-0 {
      list-style-type: none
    }

    ul.lst-kix_9bn7p699mxqg-3 {
      list-style-type: none
    }

    ul.lst-kix_9bn7p699mxqg-2 {
      list-style-type: none
    }

    ul.lst-kix_hmnm2065zf6e-7 {
      list-style-type: none
    }

    ul.lst-kix_9bn7p699mxqg-5 {
      list-style-type: none
    }

    ul.lst-kix_hmnm2065zf6e-8 {
      list-style-type: none
    }

    ul.lst-kix_9bn7p699mxqg-4 {
      list-style-type: none
    }

    ul.lst-kix_hmnm2065zf6e-5 {
      list-style-type: none
    }

    ul.lst-kix_9bn7p699mxqg-7 {
      list-style-type: none
    }

    ul.lst-kix_hmnm2065zf6e-6 {
      list-style-type: none
    }

    ul.lst-kix_9bn7p699mxqg-6 {
      list-style-type: none
    }

    ul.lst-kix_9bn7p699mxqg-8 {
      list-style-type: none
    }

    ul.lst-kix_oh1uxlpca8or-6 {
      list-style-type: none
    }

    ul.lst-kix_oh1uxlpca8or-5 {
      list-style-type: none
    }

    ul.lst-kix_oh1uxlpca8or-4 {
      list-style-type: none
    }

    ul.lst-kix_oh1uxlpca8or-3 {
      list-style-type: none
    }

    ul.lst-kix_oh1uxlpca8or-8 {
      list-style-type: none
    }

    ul.lst-kix_oh1uxlpca8or-7 {
      list-style-type: none
    }

    ol {
      margin: 0;
      padding: 0
    }

    table td,
    table th {
      padding: 0
    }

    .c5 {
      -webkit-text-decoration-skip: none;
      color: #333333;
      font-weight: 400;
      text-decoration: underline;
      vertical-align: baseline;
      text-decoration-skip-ink: none;
      font-size: 18pt;
      font-family: "Montserrat";
      font-style: normal
    }

    .c14 {
      margin-left: 36pt;
      padding-top: 0pt;
      padding-left: 0pt;
      padding-bottom: 69pt;
      line-height: 1.15;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    .c4 {
      margin-left: 36pt;
      padding-top: 0pt;
      padding-left: 0pt;
      padding-bottom: 46pt;
      line-height: 1.15;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    .c8 {
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1.15;
      orphans: 2;
      widows: 2;
      text-align: left;
      height: 11pt
    }

    .c1 {
      color: #333333;
      font-weight: 400;
      text-decoration: none;
      vertical-align: baseline;
      font-size: 12pt;
      font-family: "Montserrat";
      font-style: normal
    }

    .c15 {
      color: #333333;
      font-weight: 400;
      text-decoration: none;
      vertical-align: baseline;
      font-size: 15pt;
      font-family: "Montserrat";
      font-style: normal
    }

    .c9 {
      color: #333333;
      font-weight: 700;
      text-decoration: none;
      vertical-align: baseline;
      font-size: 22.5pt;
      font-family: "Montserrat";
      font-style: normal
    }

    .c16 {
      color: #000000;
      font-weight: 400;
      text-decoration: none;
      vertical-align: baseline;
      font-size: 11pt;
      font-family: "Montserrat";
      font-style: normal
    }

    .c0 {
      padding-top: 0pt;
      padding-bottom: 23pt;
      line-height: 1.15;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    .c7 {
      -webkit-text-decoration-skip: none;
      text-decoration: underline;
      vertical-align: baseline;
      text-decoration-skip-ink: none;
      font-style: normal
    }

    .c3 {
      font-size: 12pt;
      font-family: "Montserrat";
      color: #333333;
      font-weight: 400
    }

    .c10 {
      padding-top: 0pt;
      padding-bottom: 23pt;
      line-height: 1.1;
      text-align: left
    }

    .c17 {
      color: #333333;
      font-weight: 400;
      font-size: 15pt;
      font-family: "Montserrat"
    }

    .c12 {
      font-size: 12pt;
      font-family: "Montserrat";
      color: #333333;
      font-weight: 700
    }

    .c11 {
      -webkit-text-decoration-skip: none;
      text-decoration: underline;
      text-decoration-skip-ink: none
    }

    .c18 {
      text-decoration: none;
      vertical-align: baseline;
      font-style: normal
    }

    .c13 {
      background-color: #ffffff;
      max-width: 468pt;
      padding: 72pt 72pt 72pt 72pt
    }

    .c6 {
      color: inherit;
      text-decoration: inherit
    }

    .c2 {
      padding: 0;
      margin: 0
    }

    .title {
      padding-top: 0pt;
      color: #000000;
      font-size: 26pt;
      padding-bottom: 3pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    .subtitle {
      padding-top: 0pt;
      color: #666666;
      font-size: 15pt;
      padding-bottom: 16pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    li {
      color: #000000;
      font-size: 11pt;
      font-family: "Arial"
    }

    p {
      margin: 0;
      color: #000000;
      font-size: 11pt;
      font-family: "Arial"
    }

    h1 {
      padding-top: 20pt;
      color: #000000;
      font-size: 20pt;
      padding-bottom: 6pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    h2 {
      padding-top: 18pt;
      color: #000000;
      font-size: 16pt;
      padding-bottom: 6pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    h3 {
      padding-top: 16pt;
      color: #434343;
      font-size: 14pt;
      padding-bottom: 4pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    h4 {
      padding-top: 14pt;
      color: #666666;
      font-size: 12pt;
      padding-bottom: 4pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    h5 {
      padding-top: 12pt;
      color: #666666;
      font-size: 11pt;
      padding-bottom: 4pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    h6 {
      padding-top: 12pt;
      color: #666666;
      font-size: 11pt;
      padding-bottom: 4pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      font-style: italic;
      orphans: 2;
      widows: 2;
      text-align: left
    }
  </style>
  <title>MeetPass - Privacy Policy</title>
</head>

<body class="c13">
  <h1 class="c10" id="h.rc3vegu40j1e"><span class="c9">Privacy Policy</span></h1>
  <p class="c0"><span class="c1">Effective date: December 28, 2018</span></p>
  <p class="c0"><span class="c1">MeetPass (&quot;us&quot;, &quot;we&quot;, or &quot;our&quot;) operates the MeetPass mobile application (the &quot;Service&quot;).</span></p>
  <p class="c0"><span class="c3">This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data. Our Privacy Policy for MeetPass is
      based on the </span><span class="c3 c11"><a class="c6" href="https://www.google.com/url?q=https://www.freeprivacypolicy.com/blog/sample-privacy-policy-template/&amp;sa=D&amp;ust=1546126011411000">Free Privacy Policy Template Website</a></span><span
      class="c1">.</span></p>
  <p class="c0"><span class="c1">We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms
      used in this Privacy Policy have the same meanings as in our Terms and Conditions.</span></p>
  <h2 class="c10" id="h.fjg1oz2fyrlz"><span class="c5">Information Collection And Use</span></h2>
  <p class="c0"><span class="c1">We collect several different types of information for various purposes to provide and improve our Service to you.</span></p>
  <h3 class="c10" id="h.se33gyovvsep"><span class="c7 c17">Types of Data Collected</span></h3>
  <h4 class="c10" id="h.fkqak0rcvsop"><span class="c1">Personal Data</span></h4>
  <p class="c0"><span class="c1">While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you (&quot;Personal Data&quot;). Personally identifiable information may
      include, but is not limited to:</span></p>
  <ul class="c2 lst-kix_ovn7ft8oxhsd-0 start">
    <li class="c4"><span class="c1">Email address</span></li>
    <li class="c4"><span class="c1">First name and last name</span></li>
    <li class="c4"><span class="c1">Cookies and Usage Data</span></li>
  </ul>
  <h4 class="c10" id="h.fxtshi40ukxn"><span class="c1">Usage Data</span></h4>
  <p class="c0"><span class="c1">When you access the Service by or through a mobile device, we may collect certain information automatically, including, but not limited to, the type of mobile device you use, your mobile device unique ID, the IP
      address of your mobile device, your mobile operating system, the type of mobile Internet browser you use, unique device identifiers and other diagnostic data (&quot;Usage Data&quot;).</span></p>
  <h4 class="c10" id="h.a1i40ov97n0r"><span class="c1">Tracking &amp; Cookies Data</span></h4>
  <p class="c0"><span class="c1">We use cookies and similar tracking technologies to track the activity on our Service and hold certain information.</span></p>
  <p class="c0"><span class="c1">Cookies are files with small amount of data which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Tracking technologies also used are beacons,
      tags, and scripts to collect and track information and to improve and analyze our Service.</span></p>
  <p class="c0"><span class="c1">You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.</span></p>
  <p class="c0"><span class="c1">Examples of Cookies we use:</span></p>
  <ul class="c2 lst-kix_2vx5yei27pef-0 start">
    <li class="c4"><span class="c12">Session Cookies.</span><span class="c1">&nbsp;We use Session Cookies to operate our Service.</span></li>
    <li class="c4"><span class="c12">Preference Cookies.</span><span class="c1">&nbsp;We use Preference Cookies to remember your preferences and various settings.</span></li>
    <li class="c4"><span class="c12">Security Cookies.</span><span class="c1">&nbsp;We use Security Cookies for security purposes.</span></li>
  </ul>
  <h2 class="c10" id="h.ml0xtbkp5zu1"><span class="c5">Use of Data</span></h2>
  <p class="c0"><span class="c1">MeetPass uses the collected data for various purposes:</span></p>
  <ul class="c2 lst-kix_oh1uxlpca8or-0 start">
    <li class="c4"><span class="c1">To provide and maintain the Service</span></li>
    <li class="c4"><span class="c1">To notify you about changes to our Service</span></li>
    <li class="c4"><span class="c1">To allow you to participate in interactive features of our Service when you choose to do so</span></li>
    <li class="c4"><span class="c1">To provide customer care and support</span></li>
    <li class="c4"><span class="c1">To provide analysis or valuable information so that we can improve the Service</span></li>
    <li class="c4"><span class="c1">To monitor the usage of the Service</span></li>
    <li class="c4"><span class="c1">To detect, prevent and address technical issues</span></li>
  </ul>
  <h2 class="c10" id="h.wz9uer4w3piz"><span class="c5">Transfer Of Data</span></h2>
  <p class="c0"><span class="c1">Your information, including Personal Data, may be transferred to &mdash; and maintained on &mdash; computers located outside of your state, province, country or other governmental jurisdiction where the data
      protection laws may differ than those from your jurisdiction.</span></p>
  <p class="c0"><span class="c1">If you are located outside United States and choose to provide information to us, please note that we transfer the data, including Personal Data, to United States and process it there.</span></p>
  <p class="c0"><span class="c1">Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.</span></p>
  <p class="c0"><span class="c1">MeetPass will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a
      country unless there are adequate controls in place including the security of your data and other personal information.</span></p>
  <h2 class="c10" id="h.1lt81eccjaz"><span class="c5">Disclosure Of Data</span></h2>
  <h3 class="c10" id="h.atq2murroaam"><span class="c15">Legal Requirements</span></h3>
  <p class="c0"><span class="c1">MeetPass may disclose your Personal Data in the good faith belief that such action is necessary to:</span></p>
  <ul class="c2 lst-kix_9bn7p699mxqg-0 start">
    <li class="c4"><span class="c1">To comply with a legal obligation</span></li>
    <li class="c4"><span class="c1">To protect and defend the rights or property of MeetPass</span></li>
    <li class="c4"><span class="c1">To prevent or investigate possible wrongdoing in connection with the Service</span></li>
    <li class="c4"><span class="c1">To protect the personal safety of users of the Service or the public</span></li>
    <li class="c4"><span class="c1">To protect against legal liability</span></li>
  </ul>
  <h2 class="c10" id="h.r7t3ckgewrbe"><span class="c5">Security Of Data</span></h2>
  <p class="c0"><span class="c1">The security of your data is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to
      protect your Personal Data, we cannot guarantee its absolute security.</span></p>
  <h2 class="c10" id="h.ppohkkdfzxw0"><span class="c5">Service Providers</span></h2>
  <p class="c0"><span class="c1">We may employ third party companies and individuals to facilitate our Service (&quot;Service Providers&quot;), to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing
      how our Service is used.</span></p>
  <p class="c0"><span class="c1">These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</span></p>
  <h3 class="c10" id="h.851bp4j1h06b"><span class="c7 c17">Analytics</span></h3>
  <p class="c0"><span class="c1">We may use third-party Service Providers to monitor and analyze the use of our Service.</span></p>
  <ul class="c2 lst-kix_t77orw8662j9-0 start">
    <li class="c14"><span class="c12 c18">Google Analytics</span></li>
    <li class="c14"><span class="c1">Google Analytics is a web analytics service offered by Google that tracks and reports website traffic. Google uses the data collected to track and monitor the use of our Service. This data is shared with other
        Google services. Google may use the collected data to contextualize and personalize the ads of its own advertising network.</span></li>
    <li class="c14"><span class="c3">You may opt-out of certain Google Analytics features through your mobile device settings, such as your device advertising settings or by following the instructions provided by Google in their Privacy Policy:
      </span><span class="c3 c7"><a class="c6" href="https://www.google.com/url?q=https://policies.google.com/privacy?hl%3Den&amp;sa=D&amp;ust=1546126011423000">https://policies.google.com/privacy?hl=en</a></span></li>
    <li class="c14"><span class="c3">For more information on the privacy practices of Google, please visit the Google Privacy &amp; Terms web page: </span><span class="c7 c3"><a class="c6" href="https://www.google.com/url?q=https://policies.google.com/privacy?hl%3Den&amp;sa=D&amp;ust=1546126011424000">https://policies.google.com/privacy?hl=en</a></span></li>
    <li class="c14"><span class="c12 c18">Mixpanel</span></li>
    <li class="c14"><span class="c1">Mixpanel is provided by Mixpanel Inc</span></li>
    <li class="c14"><span class="c3">You can prevent Mixpanel from using your information for analytics purposes by opting-out. To opt-out of Mixpanel service, please visit this page: </span><span class="c7 c3"><a class="c6" href="https://www.google.com/url?q=https://mixpanel.com/optout/&amp;sa=D&amp;ust=1546126011424000">https://mixpanel.com/optout/</a></span></li>
    <li class="c14"><span class="c3">For more information on what type of information Mixpanel collects, please visit the Terms of Use page of Mixpanel: </span><span class="c7 c3"><a class="c6" href="https://www.google.com/url?q=https://mixpanel.com/terms/&amp;sa=D&amp;ust=1546126011425000">https://mixpanel.com/terms/</a></span></li>
  </ul>
  <h2 class="c10" id="h.zfxf19l4vigw"><span class="c5">Links To Other Sites</span></h2>
  <p class="c0"><span class="c1">Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party&#39;s site. We strongly advise you to review the Privacy Policy
      of every site you visit.</span></p>
  <p class="c0"><span class="c1">We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</span></p>
  <h2 class="c10" id="h.t6bkneydcuo2"><span class="c5">Children&#39;s Privacy</span></h2>
  <p class="c0"><span class="c1">Our Service does not address anyone under the age of 18 (&quot;Children&quot;).</span></p>
  <p class="c0"><span class="c1">We do not knowingly collect personally identifiable information from anyone under the age of 13. If you are a parent or guardian and you are aware that your Children has provided us with Personal Data, please contact
      us. If we become aware that we have collected Personal Data from children without verification of parental consent, we take steps to remove that information from our servers.</span></p>
  <h2 class="c10" id="h.5474e66yv8da"><span class="c5">Changes To This Privacy Policy</span></h2>
  <p class="c0"><span class="c1">We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</span></p>
  <p class="c0"><span class="c1">We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update the &quot;effective date&quot; at the top of this Privacy Policy.</span></p>
  <p class="c0"><span class="c1">You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</span></p>
  <h2 class="c10" id="h.ct7mphfd1wcf"><span class="c5">Contact Us</span></h2>
  <p class="c0"><span class="c1">If you have any questions about this Privacy Policy, please contact us:</span></p>
  <ul class="c2 lst-kix_hmnm2065zf6e-0 start">
    <li class="c4"><span class="c1">By email: hi@bearfoundry.com</span></li>
  </ul>
  <p class="c8"><span class="c16"></span></p>
</body>

</html>
